@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
$tomato: hsl(4, 100%, 67%)
$darkSlateGrey: hsl(234, 29%, 20%)
$charcoalGrey: hsl(235, 18%, 26%)
$grey: hsl(231, 7%, 60%)
$white: hsl(0, 0%, 100%)

*
    box-sizing: border-box
    font-family: 'Roboto', sans-serif 
body
    min-height: 100vh
    display: flex
    justify-content: center 
    margin: 0
    padding: 0
    background-color: $darkSlateGrey

main
    width: 100%
    max-width: 375px
    height: 100vh
    min-height: 800px 
    background-color: $white
    line-height: 25px
    picture
        img
            width: 100%
    div 
        padding: 15px 20px
        h3
            margin:
                top:20px
                bottom: 30px 
            font:
                weight: 700
                size: 40px
        ul 
            padding-left: 30px
            list-style:
                image: url("./assets/images/icon-list.svg")
            margin-bottom: 30px
    label
        font:
            weight: 700
            size:13px
    input[type=email], button
        width: 100%
        height: 55px
        border-radius: 8px
    input[type=email]
        margin:
            bottom: 25px
            top: 5px
        padding: 15px
        font:
            size: 15px
        border: solid $grey 1px
    input[type=email]::placeholder, input[type=email]:-ms-input-placeholder, input[type=email]::-ms-input-placeholder
        color: $grey
    button
        background-color: $darkSlateGrey
        color: $white
        font:
            weight: 700
            size: 14px
        border-style: none

@media screen and (min-width: 900px) 
    main
        
        padding: 25px
        border-radius: 30px
        align-self: center
        height: 100%
        max-width: none
        width: 1000px
        picture
            float: right
            height: 100%    
            img
                height: 100%    
        div
            width: 60%
.attribution
    font-size: 11px
    text-align: center 
    position: fixed
    bottom: 0
a 
        color: hsl(228, 45%, 44%)
